
.blogTag{
  color: #cb8b7f;
}

.blogTitle{
  color: #1a191e;
}

.blogBody{
  color: #a5a5a5;
}

.newBlog-btn{
  width: 150px!important;
  font-size: 19px!important;
}

.blogMsg{
  color: #814e45;
  font-size: 17px;
  width: 85%;
  height: 50px;
  padding: 10px 15px;
  margin: 15px auto;
}

.header{
  margin-left:6rem;
}